@model List<NøstedProsjekt.Models.ChecklistItem>

@{
    var mekaniskDescriptions = new string[] {
        "Sjekk clutch lameller for slitasje",
        "Sjekk bremser. Bånd/ Pal",
        "Sjekk lager for trommel",
        "Sjekk PTO og opplagring",
        "Sjekk kjedestrammer",
        "Sjekk wire",
        "Sjekk pinion lager",
        "Sjekk kile på kjedehjul",
        //Mekanisk sjekkliste
    };

    var hydrauliskDescriptions = new string[] {
        "Sjekk hydraulikk sylinder for lekkasje",
        "Sjekk slanger for skader og lekkasje",
        "Test hydraulikkblokk i testbenk",
        "Skift olje i tank",
        "Skift olje på gir boks",
        "Sjekk Ringsylinder åpne og skift tetninger",
        "Sjekk bremse sylinder åpne og skift tetninger",
        //Hydraulisk sjekkliste
    };

    var elektroDescriptions = new string[] {
        "Sjekk ledningsnett på vinsj",
        "Sjekk og test radio",
        "Sjekk og test knappekasse",
        //Elektro sjekkliste
    };

    var trykkSettingerDescriptions = new string[] {
        "xx-Bar",
        //Trykk settinger sjekkliste
    };

    var funksjonsTestDescriptions = new string[] {
        "Test vinsj og kjør alle funksjoner",
        "Trekkraft KN",
        "Bremse kraft KN",
        //Funksjons test sjekkliste
    };
}

<h1>Sjekkliste</h1>

<form method="post" asp-action="SaveChecklist">
    <table>
        <thead>
            <tr>
                <th>Kategorier</th>
                <th>Sjekkpunkter</th>
                <th>OK</th>
                <th>Bør skiftes</th>
                <th>Defekt</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < mekaniskDescriptions.Length; i++) // For Mekanisk
            {
                <tr>
                    @if (i == 0)
                    {
                        <td rowspan="@mekaniskDescriptions.Length">Mekanisk</td>
                    }
                    <td>@mekaniskDescriptions[i]</td>
                    <td><input type="checkbox" asp-for="@Model[i].OK" /></td>
                    <td><input type="checkbox" asp-for="@Model[i].BørSkiftes" /></td>
                    <td><input type="checkbox" asp-for="@Model[i].Defekt" /></td>
                </tr>
            }

            @for (int i = 0; i < hydrauliskDescriptions.Length; i++) // For Hydraulisk
            {
                <tr>
                    @if (i == 0)
                    {
                        <td rowspan="@hydrauliskDescriptions.Length">Hydraulisk</td>
                    }
                    <td>@hydrauliskDescriptions[i]</td>
                    <td><input type="checkbox" asp-for="@Model[i + mekaniskDescriptions.Length].OK" /></td>
                    <td><input type="checkbox" asp-for="@Model[i + mekaniskDescriptions.Length].BørSkiftes" /></td>
                    <td><input type="checkbox" asp-for="@Model[i + mekaniskDescriptions.Length].Defekt" /></td>
                </tr>
            }

            @for (int i = 0; i < elektroDescriptions.Length; i++) // For Elektro
            {
                <tr>
                    @if (i == 0)
                    {
                        <td rowspan="@elektroDescriptions.Length">Elektro</td>
                    }
                    <td>@elektroDescriptions[i]</td>
                    <td><input type="checkbox" asp-for="@Model[i + mekaniskDescriptions.Length + hydrauliskDescriptions.Length].OK" /></td>
                    <td><input type="checkbox" asp-for="@Model[i + mekaniskDescriptions.Length + hydrauliskDescriptions.Length].BørSkiftes" /></td>
                    <td><input type="checkbox" asp-for="@Model[i + mekaniskDescriptions.Length + hydrauliskDescriptions.Length].Defekt" /></td>
                </tr>
            }

            @for (int i = 0; i < trykkSettingerDescriptions.Length; i++) // For Trykk settinger
            {
                <tr>
                    @if (i == 0)
                    {
                        <td rowspan="@trykkSettingerDescriptions.Length">Trykk settinger</td>
                    }
                    <td>@trykkSettingerDescriptions[i]</td>
                    <td><input type="checkbox" asp-for="@Model[i + mekaniskDescriptions.Length + hydrauliskDescriptions.Length + elektroDescriptions.Length].OK" /></td>
                    <td><input type="checkbox" asp-for="@Model[i + mekaniskDescriptions.Length + hydrauliskDescriptions.Length + elektroDescriptions.Length].BørSkiftes" /></td>
                    <td><input type="checkbox" asp-for="@Model[i + mekaniskDescriptions.Length + hydrauliskDescriptions.Length + elektroDescriptions.Length].Defekt" /></td>
                </tr>
            }

            @for (int i = 0; i < funksjonsTestDescriptions.Length; i++) // For Funksjons test
            {
                <tr>
                    @if (i == 0)
                    {
                        <td rowspan="@funksjonsTestDescriptions.Length">Funksjons test</td>
                    }
                    <td>@funksjonsTestDescriptions[i]</td>
                    <td><input type="checkbox" asp-for="@Model[i + mekaniskDescriptions.Length + hydrauliskDescriptions.Length + elektroDescriptions.Length + trykkSettingerDescriptions.Length].OK" /></td>
                    <td><input type="checkbox" asp-for="@Model[i + mekaniskDescriptions.Length + hydrauliskDescriptions.Length + elektroDescriptions.Length + trykkSettingerDescriptions.Length].BørSkiftes" /></td>
                    <td><input type="checkbox" asp-for="@Model[i + mekaniskDescriptions.Length + hydrauliskDescriptions.Length + elektroDescriptions.Length + trykkSettingerDescriptions.Length].Defekt" /></td>
                </tr>
            }

        </tbody>
    </table>
    <button type="submit">Save</button>
</form>
