@model List<NøstedProsjekt.Models.ServiceOrder>

<h1>Service Ordre Oversikt</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Service Ordre ID
            </th>
            <th>
                Email
            </th>
            <th>
                Produktnavn
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>
                    @order.Id
                </td>
                <td>
                    @order.EmailAddress
                </td>
                <td>
                    @order.ProductName
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@order.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@order.Id">Details</a>
                    <a asp-action="Delete" asp-route-id="@order.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


